[Unit]
Description=Flask app (Gunicorn)
After=network.target

[Service]
User=flaskapp
Group=www-data
WorkingDirectory=/home/vagrant/Hot-Peppers/sprint_1/M_Tsymbalistyi/flask-app
EnvironmentFile=/home/vagrant/Hot-Peppers/sprint_1/M_Tsymbalistyi/flask-app/template.env
ExecStart=/usr/bin/gunicorn -w 2 -b 0.0.0.0:8000 app:app
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
